*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.container{
    width: px;
}
.container .first-screen{
    background-color: #F7F7F7;
    padding: 120px 148px;
}


/* Page Title Design */
.container .first-screen .title{
    background-color: #ffffff;
    max-width: 600px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 48px;
}
.container .first-screen .title .heading{
    font-size: 44px;
    color: #051B18;
    line-height: 56px;
    padding-bottom: 20px;
    font-weight: 500;
}
.container .first-screen .title .body{
    font-size: 18px;
    color: #374946;
    line-height: 28px;
}

/* Pricing Design */
.container .first-screen .main{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 15px;
    width: 1064px;
    margin: 0 auto;
}
.container .first-screen .main .table-heading, .table-data, .table-img{
    height: 52px;
    border-bottom: 1px solid #e5e3e3;
    display: flex;
    align-items: center;
}
.container .first-screen .main .table-heading{
    padding-bottom: 10px;
    font-size: 24px;
    color: #051B18;  
    font-weight: 500;
}
.container .first-screen .main .table-data{
    font-size: 18px;
    color: #051B18;
    font-weight: 500;
}
.container .first-screen .main .table-3{
    background-color: #E9F3F2;
    border-radius: 20px;
}
.table-3 .table-heading, .table-3 .table-data, .table-3 .table-img{
    display: flex;
    justify-content: center;
}
.table-2 .table-heading, .table-2 .table-data, .table-2 .table-img{
    display: flex;
    justify-content: center;
}
.table-4 .table-heading, .table-4 .table-data, .table-4 .table-img{
    display: flex;
    justify-content: center;
}


/* Accordion Design */
.container .second-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
} 
.container .second-screen .question-titile{
    width: 432px;
    height: 112px;
    margin-bottom: 48px;
    font-size: 44px;
    font-weight: 500;
    text-align: center;
    padding-top: 20px;
}
.accordion{
    width: 600px;
    margin: auto;
}
.accordion .accordion-item{
    background-color: #e3e3e8;
    margin-bottom: 16px;
    border-radius: 15px;
    overflow: hidden;
    box-sizing: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.accordion .accordion-item .accordion-header{
    width: 100%;
    padding:15px;
    font-size: 18px;
    text-align: left;
    border: none;
    background-color: #e3e3e8;
    cursor: pointer;
    outline: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accordion .accordion-item .icon{
    font-size: 22px;
    font-weight: bold;
    transition: transform 2s ease;
}
.accordion .accordion-item .accordion-body{
    display: none;
    padding: 0 15px 15px 15px;
    transition: max-height 2s ease, padding 2s ease;
}



/* Bottom Card Design */
.question-body .question-card{
    height: 244px;
    border-radius: 10px;
    margin-top: 30px;
    background-color: #072B29;
    padding: 40px 24px;
}

.question-body .question-card .card-logo{
    width: 107.51px;
    height: 24px;
    display: flex;
    justify-self: center;
    color: #ffffff;
}

.question-body .question-card .card-descrip{
    width: 332px;
    height: 56px;
    color: #FDFEF6;
    margin: 20px 0px;
    text-align: center;
    display: flex;
    justify-self: center;
}

.question-body .question-card .card-button{
    height: 44px;
    width: 225px;
    background-color: #1E8A7A;
    border-radius: 15px;
    display: flex;
    justify-self: center;
}
.question-body .question-card .card-button button{
    font-size: 18px;
    font-weight: 500;
    background: none;
    border: none;
    color: #FDFEF6;
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


/* Accordion & title & Card responsive design */
@media (max-width: 600px) {
    .container{
        width: 100%;
        padding: 0;
    }
    .container .first-screen{
        padding: 0;
    }
    .container .first-screen .title{
        max-width: 375px;
        overflow-x: auto;
        margin: 0px;
        padding: 15px 0;
        background-color: #F7F7F7;
    }
    .accordion{
    max-width: 343px;   
}
    .question-card{
        max-width: 343px;
    }
}

@media(min-width: 601px) and (max-width: 860px) {
        .container{
        width: 100%;
        padding: 0;
    }
    .container .first-screen{
        padding: 0;
    }
    .container .first-screen .title{
        width: 600px;
    }
    .first-screen .main{
        width: 100%;
        overflow-x: auto;
    }
}


/* Pricing prsponsive design */
@media (max-width: 1064px) {
        .container .first-screen .main{
            overflow-x: auto;
            
        }
        .container .first-screen .title{
            width: 100%;
        }
    }


