@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
}
.container{
    width: 100%;
}
.container .first-screen{
    background-color: #F7F7F7;
    padding: 120px 148px;
    margin: 0 auto;
}

/* Page Title Design */
.container .first-screen .title{
    background-color: #F7F7F7;
    max-width: 630px;
    margin: 0 auto;
    margin-bottom: 48px;
    text-align: center;
}
.container .first-screen .title .heading{
    font-size: 44px;
    color: #051B18;
    line-height: 56px;
    padding-bottom: 20px;
    font-weight: 500;
    text-align: center;
}
.container .first-screen .title .body{
    font-size: 18px;
    font-weight: 400;
    color: #374946;
    line-height: 28px;
    text-align: center;
}

/* Pricing Design */
.container .first-screen .main{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    background-color: #ffffff;
    border-width: 2px 2px 0 2px;
    border-style: solid;
    border-color: #F7F7F7;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 100%);
    padding: 28px 28px 16px 28px;
    border-radius: 24px;
    max-width: 1144px;
    margin: 0 auto;
}
.table-img-CK{
    background-image: url(checkmark-circle-02.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.table-img-CO{
    background-image: url(multiplication-sign.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.container .first-screen .main .table-heading, .table-data, .table-img-CK, .table-img-CO{   
    border-bottom: 1px solid #E8E8E8;
    height: 52px;
    display: flex;
    align-items: center;
}
.table-data:nth-child(15), .table-img-CK:nth-child(15), .table-img-CO:nth-child(15) {
    border-bottom: none;
}
.container .first-screen .main .table-heading{
    font-size: 24px;
    color: #051B18;  
    font-weight: 500;
    padding-bottom: 20px;
}
.container .first-screen .main .table-data{
    font-size: 18px;
    color: #051B18;
    font-weight: 400;
}
.container .first-screen .main .table-3{
    background-color: #E9F3F2;
    border-radius: 20px;
    box-shadow: 0 -12px 0 #E9F3F2, 0 2px 0 #E9F3F2
}
.table-2 .table-heading, .table-2 .table-data, .table-3 .table-heading, .table-3 .table-data, .table-4 .table-heading, .table-4 .table-data{
    display: flex;
    justify-content: center;
}



/* Accordion Design */
.container .second-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 420px 100px 420px;
} 
.container .second-screen .question-titile{
    width: 432px;
    margin-bottom: 48px;
}

.container .second-screen .question-titile p{
    font-size: 44px;
    font-weight: 500;
    text-align: center;
    line-height: 56px;
    letter-spacing: -1px;
    color: #051B18;
}
.second-screen .question-body .accordion{
    width: 600px;
    margin: auto;
    margin-bottom: 32px;
}
.accordion .accordion-item{
    background-color: #F7F7F7;
    padding: 20px;
    margin-bottom: 16px;
    border-radius: 15px;
    overflow: hidden;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 0 0 1px #F0F0F0;  
}
.accordion .accordion-item .accordion-header{
    width: 560px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    background-color: #F7F7F7;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accordion .accordion-item .icon{
    height: 20px;
    width: 20px;
    background-image: url(plus-sign\ \(1\).svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.accordion .accordion-item .accordion-body{
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
    width: 560px;
    display: none;
}


/* Bottom Card Design */
.question-body .question-card{
    height: 244px;
    padding: 40px 24px;
    border-radius: 20px;
    background-color: #072B29;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 0 0 1px #072B28;  
} 
.question-body .question-card .card-logo{  
    width: 107.51px;
    height: 24px;
    margin: auto;
    color: #ffffff;
}
.question-body .question-card .card-descrip{
    width: 332px;
    height: 56px;
    color: #FDFEF6;
    margin: 20px auto;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;

}
.question-body .question-card .card-button{
    height: 44px;
    width: 225px;
    background-color: #1E8A7A;
    border-radius: 15px;
    padding: 8px 20px;
    margin: auto;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #072B29;
    box-shadow: 0 0 0 1px #1E8A7A;
}
.question-body .question-card .card-button button{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    background: none;
    border: none;
    color: #FDFEF6;
    margin: auto;
}

@media(max-width: 431px){
    .container .first-screen{
    background-color: #F7F7F7;
    padding: 24px 0px;
    margin: 0;
}
    .container .first-screen .title{
    max-width: 343px;
    margin-bottom: 24px;
}
.container .first-screen .title .heading{
    font-size: 32px;
    line-height: 40px;
}
.container .first-screen .main{
    margin: 0;
    display: grid;
    overflow-x: scroll;
    scrollbar-width: none;
    grid-template-columns: 375px 240px 240px 240px;
    background-color: #ffffff;
    border: none;
    box-shadow: none;
    padding: 24px;
    border-radius: 0;
    max-width: 1068px;
}
.container .second-screen{
    padding: 20px 16px 40px 16px;
} 
.container .second-screen .question-titile{
    width: 303px;
    margin-bottom: 32px;
}
.container .second-screen .question-titile p{
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0;
    color: #051B18;
}
.second-screen .question-body .accordion{
    width: 343px;
    margin: auto;
    margin-bottom: 20px;
}
.accordion .accordion-item{
    background-color: #F7F7F7;
    padding: 20px 16px;
    margin-bottom: 16px;
    border-radius: 12px;
    overflow: hidden;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 0 0 1px #F0F0F0;  
}
.accordion .accordion-item .accordion-header{
    width: 303px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    border: none;
    background-color: #F7F7F7;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.accordion .accordion-item .accordion-body{
    width: 303px;
}
.question-body .question-card{
    width: 343px;
    height: 272px;
    border-radius: 16px;
    border: none;
}
.question-body .question-card .card-descrip{
    width: 239px;
    height: 84px;
}
}