*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.container{
    width: px;
}

.container .first-screen{
    background-color: #F7F7F7;
    padding: 120px 148px;
}


/* CSS Code for title */
.container .first-screen .title{
    background-color: #ffffff;
    width: 630px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 48px;
}

.container .first-screen .title .heading{
    font-size: 44px;
    color: #051B18;
    line-height: 56px;
    padding-bottom: 20px;
    font-weight: 500;
}

.container .first-screen .title .body{
    font-size: 18px;
    color: #374946;
    line-height: 28px;
}

/* CSS Code for main section */
.container .first-screen .main{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 15px;
    max-width: 1440px;
    margin: 0 auto;
}

.container .first-screen .main .table-heading, .table-data, .table-img{
    height: 52px;
    border-bottom: 1px solid #e5e3e3;
    display: flex;
    align-items: center;
}

.container .first-screen .main .table-heading{
    padding-bottom: 10px;
    font-size: 24px;
    color: #051B18;  
    font-weight: 500;
}

.container .first-screen .main .table-data{
    font-size: 18px;
    color: #051B18;
    font-weight: 500;
}

.container .first-screen .main .table-3{
    background-color: #E9F3F2;
    border-radius: 20px;
}

.table-3 .table-heading, .table-3 .table-data, .table-3 .table-img{
    display: flex;
    justify-content: center;
}

.table-2 .table-heading, .table-2 .table-data, .table-2 .table-img{
    display: flex;
    justify-content: center;
}

.table-4 .table-heading, .table-4 .table-data, .table-4 .table-img{
    display: flex;
    justify-content: center;
}


.container .second-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
} 
.container .second-screen .question-titile{
    width: 432px;
    height: 112px;
    margin-bottom: 48px;
    font-size: 44px;
    font-weight: 500;
    text-align: center;
}

.container .second-screen .question-body{
    width: 600px;
    height: 684px;
}

.question-body .question{
    height: 408px;
}

.question-body .question .question-1{
    height: 104px;
    background-color: #FAFAFA;
    border-radius: 10px;
    padding: 15px;
    line-height: 28px;
}

.question-body .question .question-1 .ques{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.question-body .question .question-2{
    height: 60px;
    background-color: #FAFAFA;
    border-radius: 10px;
    padding: 15px;
    line-height: 28px;
    margin-top: 16px;
}

.question-body .question .question-2 .ques{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.question-body .question-card{
    height: 244px;
    border-radius: 10px;
    margin-top: 30px;
    background-color: #072B29;
    padding: 40px 24px;
}

.question-body .question-card .card-logo{
    width: 107.51px;
    height: 24px;
    display: flex;
    justify-self: center;
    color: #ffffff;
}

.question-body .question-card .card-descrip{
    width: 332px;
    height: 56px;
    color: #FDFEF6;
    margin: 20px 0px;
    text-align: center;
    display: flex;
    justify-self: center;
}

.question-body .question-card .card-button{
    height: 44px;
    width: 225px;
    background-color: #1E8A7A;
    border-radius: 15px;
    display: flex;
    justify-self: center;
}
.question-body .question-card .card-button button{
    font-size: 18px;
    font-weight: 500;
    background: none;
    border: none;
    color: #FDFEF6;
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}




@media (max-width: 630px) {
    .container {
        width: 100%;
    }

    .container .first-screen {
        padding: 0px;
    }

    .container .first-screen .title {
        margin: 0px;
        padding: 15px 5px;
        background-color: #F7F7F7;
        width: 100%;
    }

    .container .first-screen .main {
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
    }
}

@media (max-width: 1064px) {
    .container .first-screen .title {
        width: 100%;
    }
}
/* 

@media (max-width: 630px) {
    .container{
        width: 100%;
    }
    .container .first-screen{
        padding: 0px;
    }
    .container .first-screen .title{
        width: 343px;
        overflow-x: auto;
        margin: 0px;
        padding: 15px 5px;
        background-color: #F7F7F7;
    }
     .container .first-screen .main{
            overflow-x: auto;
            
        }
}

@media (max-width: 1064px) {
        .container .first-screen .main{
            overflow-x: auto;
            
        }
        .container .first-screen .title{
            width: 100%;
        }
    } */
